registry=https://registry.npmjs.org/
@mo:registry=https://pkgs.dev.azure.com/mogenius/_packaging/mogenius/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/mogenius/_packaging/mogenius/npm/registry/:username=${AZURE_NPM_RC_USER}
//pkgs.dev.azure.com/mogenius/_packaging/mogenius/npm/registry/:_password=${AZURE_NPM_RC_PWD}
//pkgs.dev.azure.com/mogenius/_packaging/mogenius/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/mogenius/_packaging/mogenius/npm/:username=${AZURE_NPM_RC_USER}
//pkgs.dev.azure.com/mogenius/_packaging/mogenius/npm/:_password=${AZURE_NPM_RC_PWD}
//pkgs.dev.azure.com/mogenius/_packaging/mogenius/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
