registry=https://registry.npmjs.org/
@mo:registry=https://pkgs.dev.azure.com/mogenius/packages/_packaging/mo-packages/npm/registry/
@mogenius:registry=https://npm.pkg.github.com

always-auth=true

; begin auth token
//npm.pkg.github.com/:_authToken=${GITHUB_NPM_TOKEN}
//pkgs.dev.azure.com/mogenius/packages/_packaging/mo-packages/npm/registry/:username=${AZURE_NPM_RC_USER}
//pkgs.dev.azure.com/mogenius/packages/_packaging/mo-packages/npm/registry/:_password=${AZURE_NPM_RC_PWD}
//pkgs.dev.azure.com/mogenius/packages/_packaging/mo-packages/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/mogenius/packages/_packaging/mo-packages/npm/:username=${AZURE_NPM_RC_USER}
//pkgs.dev.azure.com/mogenius/packages/_packaging/mo-packages/npm/:_password=${AZURE_NPM_RC_PWD}
//pkgs.dev.azure.com/mogenius/packages/_packaging/mo-packages/npm/:email=npm requires email to be set but doesn't use the value
; end auth token